.msg-wrppr{
  width: 100%;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding: 20px 33px 0 10px;
    list-style-type: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: calc(100% + 33px);
  }
  
}
